- 
  var projects = [
    { 
      name: "Discord Credentials Bot", 
      desc: "A bot for my software engineering team's Discord server. The bot's purpose was to return user credentials for our production servers.",
      //- date: "June 2020",
      area_of_development: "Backend",
      technologies: ["Go"],
      github_link: "https://github.com/Doxify/csc648-discord-bot",
      demo_link: null,
      image_link: "/images/discordgo-bot.png"
    },
    { 
      name: "Uno", 
      desc: "Four player, online multiplayer version of the card game, Uno. Also features global and in-game chat rooms.",
      //- date: "April 2021",
      technologies: ["Docker", "Express", "Node.js", "Pug", "Passport", "Postgres", "Pusher"],
      area_of_development: "Full Stack",
      github_link: "https://github.com/doxify/uno",
      demo_link: "https://uno.ageorgescu.dev/",
      image_link: "/images/uno-preview.png"
    },
    { 
      name: "HTTP/1.1 Web Server", 
      //- desc: "A web server capable of the HTTP/1.1  protocol created with only standard libraries in Java.",
      desc: "Backend web server written in Java using only standard libraries. It obeys the HTTP/1.1 protocol to distribute web pages.",
      //- date: "February 2021",
      technologies: ["Java"],
      area_of_development: "Backend",
      github_link: "https://github.com/Doxify/web-server",
      demo_link: null,
      image_link: "/images/web-server-preview.png"
    },
    { 
      name: "Photo Sharing App", 
      desc: "Clone of the image sharing site, Imgur. It allows users to upload, search, comment on photos.",
      //- date: "June 2020",
      area_of_development: "Full Stack",
      technologies: ["Express", "Node.js", "MySQL", "Bootstrap"],
      github_link: "https://github.com/Doxify/imgur-clone/",
      demo_link: null,
      image_link: "/images/photo-sharing-preview.png"
    }
  ]

block projects
  //- .row
  //-   each project in projects
  //-     br
  //-     .row.mb-5.mt-5
  //-       .col-sm-12.col-md-5.my-auto
  //-         h3.card-title=project.name
  //-         .card.project-desc-card.bg-light.shadow.bg-dark.text-white
  //-           img.card-img(src=project.image_link alt="Card image cap").d-md-none
  //-           .card-body
  //-             p.card-text=project.desc
  //-             //- br       
  //-             p.card-text.small.text-muted Built with...
  //-             each technology in project.technologies
  //-               small.technology-item-dark=technology
  //-         div.mt-2.text-start
  //-           a.me-2.btn.btn-sm.btn-outline-dark(data-toggle="tooltip" data-placement="bottom" target="_blank" title="View source code on GitHub" href=project.github_link)
  //-             span Source Code 
  //-               i.fab.fa-github
  //-           if project.demo_link
  //-             a.btn.btn-sm.btn-outline-success(data-toggle="tooltip" data-placement="bottom" target="_blank" title="Deployed to Heroku" href=project.demo_link)
  //-               span Demo 
  //-                 i.fas.fa-cloud
  //-       .col-sm-12.col-md-7.d-none.d-md-block
  //-         .card.project-demo-card.shadow.hvr-grow
  //-             img.card-img(src=project.image_link alt="Card image cap")
  .d-flex.flex-row.flex-nowrap.p-5
    each project in projects
      .card.card-body.bg-light.shadow.bg-dark.text-white.card.project-desc-card
        h3.card-title=project.name
        //- .card.project-desc-card.bg-light.shadow.bg-dark.text-white
        img.card-img(src=project.image_link alt="Card image cap").d-md-none
        p.card-text=project.desc
        //- br       
        p.card-text.small.text-muted Built with...
        div
          each technology in project.technologies
            small.technology-item-dark=technology
        //- div.mt-2.text-start
        //-   a.me-2.btn.btn-sm.btn-outline-dark(data-toggle="tooltip" data-placement="bottom" target="_blank" title="View source code on GitHub" href=project.github_link)
        //-     span Source Code 
        //-       i.fab.fa-github
        //-   if project.demo_link
        //-     a.btn.btn-sm.btn-outline-success(data-toggle="tooltip" data-placement="bottom" target="_blank" title="Deployed to Heroku" href=project.demo_link)
        //-       span Demo 
        //-         i.fas.fa-cloud
        //- .col-sm-12.col-md-7.d-none.d-md-block
        //-   .card.project-demo-card.shadow.hvr-grow
        //-       img.card-img(src=project.image_link alt="Card image cap")