- 
  var projects = [
    { 
      name: "Uno", 
      desc: "Four player, online multiplayer version of the card game, Uno. Also features global and in-game chat rooms.",
      //- date: "April 2021",
      technologies: ["Docker", "Express", "Node.js", "Pug", "Passport", "Postgres", "Pusher"],
      github_link: "https://github.com/doxify/uno",
      demo_link: "https://uno.ageorgescu.dev/",
      image_link: "https://i.imgur.com/bYWKpyP.png"
    },
    { 
      name: "HTTP/1.1 Web Server", 
      //- desc: "A web server capable of the HTTP/1.1  protocol created with only standard libraries in Java.",
      desc: "Backend web server written in Java using only standard libraries. It obeys the HTTP/1.1 protocol to distribute web pages.",
      //- date: "February 2021",
      technologies: ["Java"],
      github_link: "https://github.com/Doxify/web-server",
      demo_link: null,
      image_link: "https://i.imgur.com/S8U72R0.png"
    },
    { 
      name: "Photo Sharing App", 
      desc: "Clone of the image sharing site, Imgur. It allows users to upload, search, comment on photos.",
      //- date: "June 2020",
      technologies: ["Express", "Node.js", "MySQL", "Bootstrap"],
      github_link: "https://github.com/Doxify/imgur-clone/",
      demo_link: null,
      image_link: "https://i.imgur.com/7rrfTZS.png"
    }
  ]

block projects
  .row.p-2
    each project in projects
      br
      .row.mb-5.mt-5
        .col-sm-12.col-md-5.my-auto.text-start
          h3.card-title=project.name
          .card.project-desc-card.bg-light.shadow.bg-dark.text-white
            img.card-img(src=project.image_link alt="Card image cap").d-sm-none
            .card-body
              h6.card-text=project.desc
              br
              each technology in project.technologies
                small.technology-item-dark=technology
            .card-footer.text-end
              a.me-2.btn.btn-sm.btn-light(type="button" data-toggle="tooltip" data-placement="bottom" target="_blank" title="View source code on GitHub" href=project.github_link)
                span Source Code 
                  i.fab.fa-github
              if project.demo_link
                a.btn.btn-sm.btn-success(type="button" data-toggle="tooltip" data-placement="bottom" target="_blank" title="Deployed to Heroku" href=project.demo_link)
                  span Demo 
                    i.fas.fa-cloud
        .col-sm-12.col-md-7.d-none.d-md-block
          .card.project-demo-card.shadow.hvr-grow
              img.card-img(src=project.image_link alt="Card image cap")
  